html, body { background: white; }

.flat-page-fshow {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.left-side-fshow{
  width: 54%;
}
.right-side-fshow {
  width: 38%;
}

.big-avatar {
  position: relative;
  top: -35px;
  width: 80px;
}

.card-trip-fshow {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
}

.card-trip-fshow > img {
  width: 100%;
  // object-fit: cover;
}

.card-trip-fshow h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-fshow p {
  font-size: 12px;
  opacity: .7;
  margin-top: 20px;
}


.card-trip-fshow .card-trip-infos-fshow {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

}

.card-trip-infos-fshow .card-trip-user-fshow {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.information-fshow {
  transition: 0.3s;
  margin: 30px 0px;
  padding:10px;
}

.right-side{
}

.booking-fshow {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  padding: 10px;
  border: 2px solid red;
  border-radius: 4px;
  margin: 0;
  // text-align: justify;
}

.buttons-fshow {

}



