// Specific CSS for your home-page
#wagon {
  width : 50px;
  position:absolute;
  left:10px;
  top:10px;
  margin: 0px 15px 15px 0px;
}

#signup {
  width : 40px;
  position:absolute;
  left:10px;
  top:10px;
  margin: 0px 15px 15px 0px;
}

#map-container {
  margin: 45px;
  border: black 2px solid;
  border-radius: 10px;
  position:relative;
  height:610px;
  width:900px;
  justify-content : center;
  align-items : center;
}

#signup-header {
  color: white;
}

.home-btn {
  color: white;
}

h1 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

<<<<<<< HEAD
<<<<<<< HEAD
.form-control {
    // display: flex;
=======
=======

.title h2 {
  margin: 50px;
  text-align: center;
}


>>>>>>> 65893b7914c645891b842d4e79bdf3edcc6ed047
#form-control {
    display: flex;
>>>>>>> 91d6b86fc989334d340a6950d62d03667a86b39a
    border-radius: 8px;
    box-shadow: none;
    border-radius: 50px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    opacity:1;
    width:10px;
    text-align: center;
    // color:white;
<<<<<<< HEAD
    position:absolute;
    top: 707px;
    left: 250px;


=======
>>>>>>> 65893b7914c645891b842d4e79bdf3edcc6ed047
}

.map-div {
  display: flex;
  // align-items:center;
  // justify-content:center;
}


