// Specific CSS for your home-page

#wagon {
  width : 40px;
  position:absolute;
  left:10px;
  top:10px;
  margin: 0px 15px 15px 0px;
}

#signup {
  width : 40px;
  position:absolute;
  left:10px;
  top:10px;
  margin: 0px 15px 15px 0px;
}
