// Specific CSS for your home-page

#wagon {
  width : 50px;
  position:absolute;
  left:10px;
  top:10px;
  margin: 0px 15px 15px 0px;
}

#signup {
  width : 40px;
  position:absolute;
  left:10px;
  top:10px;
  margin: 0px 15px 15px 0px;
}

#map-container {
  margin: 45px;
  border: black 2px solid;
  border-radius: 10px;
}

#signup-header {
  color: white;
}

.home-btn {
  color: white;
}

h1 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.form-control {
    display: flex;
    border-radius: 8px;
    box-shadow: none;
    border-radius: 50px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    opacity:1;
    width:10px;
    // color:white;


}


