<h1>List of all flats</h1>

<div class="card">
  <% @flats.each do |flat| %>
    <div class="card-trip">
      <p></p>
      <p><%= link_to flat.description, flat_path(flat) %></p>
      <p><%= flat.price %>"$"</p>
    </div>
  <% end %>
</div>

