.show-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
<<<<<<< HEAD
=======

.flat-image-show {
    width:100px;
}


>>>>>>> 0b746ca498a6012edae5c6538c45eba01332f199
