
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= image_path 'bannerimage.jpg' %> )">
  <div class="container">
    <h1>Welcome to MBMV, book your room in<strong> outer space</strong>!</h1>
    <p>Spend a night at the ISS</p>
    <a class="btn btn-flat" href="#">Create flat</a>
  </div>
</div>
