<div>
  <h1>Welcome to MBMV</h1>
</div>

    <% @flats.each do |flat| %>
    <div>
      <h2><%= link_to flat.description, flat_path(flat) %></h2>
    </div>
    <h2><%= flat.price %>"$"</h2>
    <% end %>
  </div>
</div>



<div>
  <%= link_to "Create Flat", new_flat_path %>
</div>

<div>
  <%= link_to "Book Flat", new_flat_booking_path(:flat_id) %>
</div>


