
.flat-card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 450px;
  margin-bottom: 30px;
}

.card_img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.flat-card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.flat-card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.flat-card-trip-infos {
  background-color: white;
  opacity: 0.9;
}

.flat-card-trip-infos a {
  color: black;
  }

.flat-card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.flat-card-trip-user {
  position: absolute;
  right: 16px;
  top: -26px;
  width: 40px;
}

#dates {
  text-align: right;
}

#description h2 {
  margin-bottom: 16px;
  margin-right: 25px;
}
