 .login-page {
    width: 100%;
    height: 100%;
    margin-top: -56px;
 }



 h2 {
color: white;
}

.login-form-inputs {
  color: white;
}

// .login_form_inputs {
//   background-size: 50%;
//   padding: 125px;
//   display: inline-block;
//   text-align: left;
// }



.form-group {
  width: 150%;
}


.btn {
  color: white;
  border: solid 1px;
}



