.page {
    height: 100vh;
    margin-top: -56px;
    text-align: center;


}

.create_form {
  background-size: 50%;
  color: white;
  padding: 125px;
  display: inline-block;
  text-align: left;



}

textarea.form-control {
    background-color: rgb(180, 180, 180);
}

.form-control {
    background-color: rgb(180, 180, 180);
    width: 70%;
}

